/* for mandelbrot.js */
html, body {
  margin: 0;
}

canvas { 
  background-color: black;
}
  
.grey {
    position: absolute;
    background-color: lightgrey;
    word-wrap: break-word;
    width: 80px;
    height: 100%;
    opacity: 0.6;
}

input {
  width: 80px;
}



.grey:hover {
    opacity: 0.98;
}

.center {
    text-align: center;
}



